/* Zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* End zeroing */
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-background: #181818;
  --color-arrow: #4c4c4c;
  --color-arrow-rgba: rgb(76, 76, 76, 1);
  --color-arrow-hover: #7F7F7F;
  --color-arrow-active: #B3B3B3;
  --color-text: #E6E6E6;
  --family-text: "Roboto", sans-serif;
}

.object__svg {
  display: none;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 16px;
  font-family: var(--family-text);
  line-height: 1.4;
  overflow: hidden;
  max-width: 100vw;
}

.container {
  width: 80%;
  max-width: 1046px;
  min-height: inherit;
  margin: 0 auto;
  padding: 50px 0 80px;
}

.container_column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-height: 100%;
}
.text .content {
  overflow-y: auto;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
  padding: 0 0 2px 0;
}
.text h1,
.text h2 {
  margin: 0 0 20px 0;
}
.text p {
  text-align: center;
  font-size: 1em;
}

@media (max-width: 650px) {
  body {
    font-size: 14px;
  }
  .container {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 420px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 65%;
  }
}
/* sections style */
.wrapper__child {
  height: 100vh;
  max-width: 100vw;
  position: relative;
}
.wrapper__child .container {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: inherit;
  max-height: inherit;
  height: 100%;
  min-width: inherit;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translate(-50%, -50%);
}
.wrapper__child h2 {
  color: var(--color-text);
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .wrapper__child h2 {
    font-size: 2rem;
  }
}
/* sections style */
/* screen controls style */
.scontrols {
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 20px;
  pointer-events: none;
}

.scontrols__scroll-buttons {
  position: relative;
  width: 100%;
  height: 100%;
}
.scontrols__scroll-buttons .scroll-button {
  border: 2px solid var(--color-arrow);
  border-radius: 50%;
  background: none;
  pointer-events: all;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: border 0.5s ease 0s, visibility 0.5s ease 0s, opacity 0.5s ease 0s;
}
.scontrols__scroll-buttons .scroll-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
}
.scontrols__scroll-buttons .scroll-button svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-arrow);
  object-fit: contain;
  transition: stroke 0.5s ease 0s;
}
.scontrols__scroll-buttons .scroll-button:hover {
  border-color: var(--color-arrow-hover);
}
.scontrols__scroll-buttons .scroll-button:hover svg {
  stroke: var(--color-arrow-hover);
}
.scontrols__scroll-buttons .scroll-button:active {
  border-color: var(--color-arrow-active);
}
.scontrols__scroll-buttons .scroll-button:active svg {
  stroke: var(--color-arrow-active);
}
.scontrols__scroll-buttons .scroll-button:disabled {
  opacity: 0.3;
}
.scontrols__scroll-buttons .scroll-button.button_inactive {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.scontrols__scroll-buttons .top {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.scontrols__scroll-buttons .top span {
  transform: translate(-50%, -50%) rotate(0deg);
}
.scontrols__scroll-buttons .right {
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
}
.scontrols__scroll-buttons .right span {
  transform: translate(-50%, -50%) rotate(90deg);
}
.scontrols__scroll-buttons .bottom {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.scontrols__scroll-buttons .bottom span {
  transform: translate(-50%, -50%) rotate(180deg);
}
.scontrols__scroll-buttons .left {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.scontrols__scroll-buttons .left span {
  transform: translate(-50%, -50%) rotate(270deg);
}

@media (max-width: 650px) {
  .scontrols__scroll-buttons .scroll-button {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 500px) {
  .scontrols__scroll-buttons .scroll-button {
    width: 30px;
    height: 30px;
  }
}
/* end screen controls style */
/* cube layer style */
.cube-layer {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  pointer-events: none;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cube {
  width: 200px;
  height: 200px;
}

/* end cube layer style */
/* spawn animations style */
.scontrols[data-spawn-anim] {
  opacity: 0;
  transform: translate(0, 0);
  transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}
.scontrols[data-spawn-anim]._anim_active {
  opacity: 1;
  transform: translate(0, 0);
}

.wrapper__child[data-spawn-anim] {
  opacity: 0;
  transform: translate(0, 0);
  transition: transform 0.5s ease 0s, opacity 0.5s ease 0s;
}
.wrapper__child[data-spawn-anim]._anim_active {
  opacity: 1;
  transform: translate(0, 0);
}
.wrapper__child *:not(h1, h2)[data-spawn-anim] {
  opacity: 0;
  transform: translate(0, 0);
  transition: transform 0.5s ease 1s, opacity 0.5s ease 1s;
}
.wrapper__child *:not(h1, h2)[data-spawn-anim]._anim_active {
  opacity: 1;
  transform: translate(0, 0);
}

/* end spawn animations style */
/* front style */
.front h1 {
  color: var(--color-text);
  font-size: 4em;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

/* end front style */
/* skills style */
.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 300px));
  justify-content: center;
  gap: 20px;
  padding: 5px;
  overflow-x: auto;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
}
.items-container .item {
  border: 1px solid var(--color-arrow);
  border-radius: 5px;
  background-color: var(--color-background);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  transition: box-shadow 0.5s ease 0s;
}
.items-container .item__icon {
  position: relative;
  width: 70px;
  height: 70px;
}
.items-container .item__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: width 0.5s ease 0s, height 0.5s ease 0s;
}
.items-container .item__title {
  text-align: center;
}
.items-container .item__description {
  font-size: 0.8em;
}
.items-container .item:hover {
  box-shadow: 0px 0px 10px 2px var(--color-arrow-rgba);
}
.items-container .item:hover svg {
  width: 110%;
  height: 110%;
}

@media (max-width: 780px) {
  .items-container {
    grid-auto-flow: column;
    justify-content: start;
  }
  .items-container .item {
    min-width: 130px;
    max-width: 300px;
  }
}
/* end skills style */